.dashboard-container {
    padding: 20px;
    min-height: 100vh;
    margin: 30px;
  }
  
  .user-info-card {
    display: flex;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,174,202,1) 72%, rgba(148,187,233,1) 100%);
    padding: 20px;
  }
  
  .sales-summary {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 66%, rgba(148,187,233,1) 100%);
    padding: 20px;
  }
  
  .sales-table th,
  .sales-table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .sales-table th {
    background-color: #94bbe9;
    color: #ffffff;
  }
  
  .sales-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .img-thumbnail {
    width: 100px;
    border-radius: 50%;
  }
  